.idea
__pycache__
trained/
*DS_Store
trained_*/
*.csv
*draw/
vtest*/
csvs/
manifest/
*imdpcrn*.ini
blind/
*.svg
tmp/

.*
!.prettierrc.json
!.gitignore
!.pylintrc

*.xlsx
spectrum/
spectrum_chime/
augment/CHiME_Aria_real_RIR/
*.wav
examples/config/
*.m
*.npz
core/datasets.yaml
show/
outputs/
multirun/
conf/dset
